@import "../extends.scss";
.price_input {
  @extend %input;
  width: 110px;
  padding-left: 11px;
}
.price_inputs_container {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}
.price_container {
  margin-top: 32px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price_title {
  font-weight: bold;
}
.price_slider{
  height: 5px;
}