.content_container{
  display: flex;
  justify-content: space-between;
}
.mainContent_container{
  width: 867px;
  display: flex;
  flex-direction: column;
}
.cardProducts_list{
  display: flex;
  flex-direction: column;
}
.cardProducts_list_row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .cardProducts_list_row {
    .cardProduct_container:last-of-type{
      display: none;
    }
  }
}